  <div class="bg-black text-white ">
    <div class="flex items-center py-6 pl-9 ">
      <div class=" ">
        <img src="/assets/images/white.svg" class="w-9 h-9 "  />
      </div>
      <div class="ml-auto mr-9 space-x-6  ">
        <a href="/something" class="">
          Sign In
        </a>
        <a href="/something" class="">
          Get Started
        </a>
      </div>
    </div>
    <div class="w-full text-center text-4xl lg:text-6xl pt-20 pb-64 ">
      <div class="w-full px-6 lg:w-1/2 lg:mx-auto ">
        <span class="">
          Let AI-GPT check your
        </span>
        <span class="text-blue-600 font-bold text-transparent bg-clip-text bg-gradient-to-br from-yellow-300 to-red-500 ">
          facts.
        </span>
        <div class="mt-9 text-lg text-gray-400 ">
          Consistent with an evidence-based understanding of physical reality. 
        </div>
      </div>
      <div class="mt-9 space-x-6 text-lg  ">
        <a href="/something" class="border border-rose-300 border-2 px-9 py-3 rounded-full ">
          Sign In
        </a>
        <a href="/something" class="">
          Get Started
        </a>
      </div>
    </div>
    <div class="text-lg text-gray-400 ml-9 pb-9 ">
      &copy 2023 align42.ai
    </div>
  </div>
