  {{ define "other_form" }}
    <div class="p-3 bg-gray-900 flex space-x-3 ">
      <div class="">
        other3 item 
      </div>
      <div class="">
        <input type="text" placeholder="name" class=""  />
      </div>
    </div>
    <div class="p-3 bg-gray-900 flex space-x-3 ">
      <div class="">
        <button id="cancel" class="ml-9 border rounded bg-blue-600 text-white py-2 px-2 ">
          Cancel
        </button>
        <button id="save" class="ml-9 border rounded bg-blue-600 text-white py-2 px-2 ">
          Save
        </button>
      </div>
    </div>
    {{ end }}
